extends admin_layout

block content
  ul(class='post')
  each post in posts_list
    li 
      ul(class='edit-nav')
        li 
          a(href='/admin/'+post.id+'/update') Edit 
        li 
          if post.deleted
            a(href='/admin/'+post.id+'/restore') Restore
          else
            a(href='/admin/'+post.id+'/delete') Delete
      a(href=post.url_edit)
        img.title_img(src=post.blog_post_img||config.default_img)
      h2(class='post-name') 
        a(href=post.url_edit) #{post.blog_post_name} 
      span.post-content !{post.blog_post}
      span.post-tags tags: #{post.tags_post}
      span.post-date date: #{post.date_of_creation_formatted}
      if post.date_of_last_edit
        span.post-date last edited: #{post.date_of_last_edit_formatted}


