extends layout

block content
  ul(class='post')
  each post in posts_list
    li 
      img.title_img(src=post.blog_post_img||config.default_img)
      h2(class='post-name') 
        a(href=post.url) #{post.blog_post_name} 
      span.post-content !{post.blog_post}
      span.post-tags tags: #{post.tags_post}
      span.post-date date: #{post.date_of_creation_formatted}
      if post.date_of_last_edit
        span.post-date last edited: #{post.date_of_last_edit_formatted}


