extends layout

block content
  img.title_img(src=post.blog_post_img||config.default_img)
  h1= post.blog_post_name 
  p !{post.blog_post}
  span.post-tags tags: #{post.tags_post}
  span.post-date date: #{post.date_of_creation_formatted}
  if post.date_of_last_edit
    span.post-date last edited: #{post.date_of_last_edit_formatted}
      
  a.btn(href="javascript:window.history.back()" type='button') Back
  
  // this for disqus comments
  #disqus_thread 
      script.
        var disqus_config = function () {
        this.page.url = post.url;  
        this.page.identifier = id; 
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        // enter your disqus site name
        s.src = 'https://YOUR_DISQUS_SITE.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();

       
